@()

@main02("Log in"){
    <section id="content">
        <article>
            <h1>
                Log in.
            </h1>
            <h1>
                Email  |   Password
            </h1>
            <form method="post" action="/logIn">
                <label for="email">Email</label>
                <input name="email" rows="30" cols="100"></input>
                <label for="password">Password</label>
                <input name="password" rows="30" cols="100"></input>
                @*<input type="text" name="email" id="test01">
                <input type="password" name="password" id="test02">*@
                <input type="submit" value="Log In">
            </form>
            <h1>
                Log in test page.
            </h1>
        </article>
    </section>
}
