@(confirmation: String, list: ArrayList[String])

@main02("testing"){
    <section id="content">
        <article>
            <h1>
                Email  |   Password
            </h1>
            <h1>
            @confirmation
            </h1>
            <form method="post" action="/test0">
                @*<textarea name="email" rows="30" cols="100"></textarea>
                <textarea name="password" rows="30" cols="100"></textarea>
                <input type="text" name="email" id="test01">
                <input type="password" name="password" id="test02">
                <input type="submit">*@
            </form>
            <h1>
                Test Page.
            </h1>
            <ul>
                @for(item <- list){
                    <li>@item</li>
                }
            </ul>
        </article>
    </section>
}
